body{
    margin: 0px;
    font-family: 'Mulish', sans-serif;
    background: linear-gradient(#364f6b, #52057b);
}
/*header*/
.header{
    background-color: #364f6b;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__img{
    width: 200px;
    margin: 8px;
}
.header__menu{
    margin-right: 30px;
}
.header__menu ul {
    display: none;
    list-style: none;
    padding: 0px;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: 0px 0px 0px -14px;
}
.header__menu:hover ul, ul:hover{
    display: block;
}
.header__menu li {
    margin: 10px 0px;
}
.header__menu li a {
    color: white;
    text-decoration: none;
}
.header__menu li a:hover{
    text-decoration: underline;
}
.header__menu--profile{
    margin-right: 8px;
    display: flex;
    align-items: center;
}
.header__menu--profile img{
    margin-right: 8px;
    width: 40px;
}
.header__menu--profile p{
    margin: 0px;
    color: white;
}

/*buscador*/
.main {
    height: 200px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
    padding: 150px;
    background-position: center 40%;
    background-size: cover;
}
.main__title {
    color: white;
    font-size: 25px;
}
.input {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 50px;
    color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    height: 50px;
    padding: 0px 20px;
    width: 70%;
    outline: none;
}
::placeholder{
    color: white;
}

/*scroll bar*/
::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    background: transparent;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb{
    background:  rgba(153, 0, 255, 0.2);
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover{
    background:  rgba(153, 0, 255, 0.3);
    border-radius: 4px;
}
::-webkit-scrollbar:hover{
    background: transparent;
    box-shadow: 0 0 2px 1px transparent;
}
::-webkit-scrollbar:hover:active{
    background: rgba(153, 0, 255, 0.4);
}
::-webkit-scrollbar-corner{
    color: transparent;
}

/*carousel*/
.carousel{
    width: 100%;
    overflow: scroll;
    padding: 30px;
    position: relative;
}
.carousel__container{
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px;
}
.carousel-title{
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: left;
    margin-bottom: 15px;
}
.carousel-item{
    background-color: green;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 250ms all;
    transform-origin: center left;
    position: relative;
}
.carousel-item:hover ~ .carousel-item{
    transform: translate3d(100px, 0, 0);
}
.carousel__container:hover .carousel-item{
    opacity: 0.3;
}
.carousel__container:hover .carousel-item:hover{
    transform: scale(1.5);
    opacity: 1;
}
.carousel-item__img{
    width: 200px;
    height: 250px;
    object-fit: cover;
}
.carousel-item__details{
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0)100%);
    font-size: 10px;
    opacity: 0;
    transition: 250ms opacity;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*acomodar titulos*/
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.carousel-item__details img{
    height: 30px;
}
.carousel-item__details p{
    margin: 0px;
}
.carousel-item__details:hover{
    opacity: 1;
    color: white;
}

/*footer*/
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    background-color: #52057b;
}
.footer a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding-left: 30px;
    transition: 250ms all;
}
.footer a:hover{
    text-decoration: underline;
    color: gold;
}