body{
    margin: 0px;
    font-family: 'Mulish', sans-serif;
    background-color: #364f6b;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    background-color: #52057b;
}
.footer a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding-left: 30px;
    transition: 250ms all;
}
.footer a:hover{
    text-decoration: underline;
    color: gold;
}